body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    margin-bottom: 5px;
}

.key {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.key:hover {
    background-color: #ddd;
}

.key-large {
    width: 80px;
}

.key-extra-large {
    width: 100px;
}

.key-space {
    width: 300px;
}
